@import "../fonts/stylesheet.css";

body {
  font-family: "Museo Sans Cyrl 500";
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
.carousel-cell {
  height: 100vh;
  width: 100vw;
}
.main-carousel {
  height: 100vh;
}
.ctr-page {
  width: 100%;
  position: relative;
  height: 100%;
  background-color: #de3d46;
}
.ctr-page__video {
  height: 100%;
  width: 100%;
}
.ctr-page__play-button-wrapper {
  position: absolute;
  width: 70px;
  height: 70px;
  left: calc(50% - 70px/2);
  top: calc(50% - 70px/2);

  border-radius: 60px;
  background-color: #fff;
  box-shadow: 0 2px 2px #888888;
}
.ctr-page__play-button {
  outline: none;
  border: none;
  position: absolute;
  top: 15px;
  left: 17px;
  border-top: 20px solid transparent;
  background-color: rgba(255, 255, 255, 0);
  border-left: 40px solid #de3d46;
  border-bottom: 20px solid transparent;
}
.ctr-page__bg-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}
.ctr-page--initial .ctr-page__button-wrapper {
  width: 100%;
  z-index: 20;
  position: absolute;
  left: calc(50% - 176px);
  bottom: calc(272px / 2.25);
  width: 352px;
  height: 104px;
  display: block;
  background-color: transparent;
}
.ctr-page__button-wrapper .ctr-page__button {
  background-color: #de3d46;
  width: 100%;
  height: 100%;
  font-size: 48px;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  padding: 0;
  background-image: url("../images/btn-initial.svg");
  background-size: 100%;
}
.ctr-page__button-wrapper .ctr-page__button:hover {
  background-image: url("../images/btn-initial--active.svg");
  background-color: transparent;
}
.ctr-page--device {
  width: 100%;
  height: 100%;
}
.ctr-page--device:after {
  background: #000000;
  opacity: 0.6;
}
.text-box {
  position: absolute;
}
.text-main {
  position: absolute;
  left: 173px;
  top: 78px;
  width: 1086px;
  height: 82px;
  font-size: 70px;
  font-family: "Museo Sans Cyrl 900";
  color: #fff;
}
.text-comment {
  position: absolute;
  left: 175px;
  top: 169px;
  width: 717px;
  height: 48px;
  font-size: 24px;
  font-family: "Museo Sans Cyrl 500";
  color: #fff;
}
.ctr-page__device {
  position: absolute;
  left: calc(50% - 213px);
  top: 270px;
  width: 426px;
  height: 724px;
}
.fade-black {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background:#424242;
}
.btn-round {
  position: absolute;
  border-radius: 64px;
  padding: 0;
  border: 0;
  width: 56px;
  height: 56px;
  background-color: #ffffff;
  border: 4px solid #2D333C;
  font-family: "Museo Sans Cyrl 500";

  background-image: url("../images/rect.svg");
  background-repeat: no-repeat;
  background-position: 11px 11px;
}
#multilevel {
  top: 183px;
  left: 267px;
}
#clamp {
  top: 445px;
  left: 323px;
}
#ironing {
  top: 513px;
  left: 185px;
}
#polymetacid {
  top: 620px;
  left: 89px;
}
.modal {
  position: absolute;
  background: #DE3D46;
  border: 4px solid #2D333C;
  width: 1565px;
  height: 752px;
  left: 175px;
  top: 192px;
  z-index: 10;
}
.btn-cross {
  position: absolute;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  background-image: url("../images/cross.svg");
  width: 32px;
  height: 32px;
  left: 1489px;
  top: 40px;
}
.text-ironing-primary {
  font-family: "Museo Sans Cyrl 900";
  font-size: 70px;
  color: #ffffff;
  width: 770px;
  position: absolute;
  top: 126px;
  left: 798px;
}
.text-ironing-secondary {
  font-family: "Museo Sans Cyrl 900";
  font-size: 40px;
  color: #ffffff;
  width: 770px;
  position: absolute;
  top: 234px;
  left: 796px;
}
.text-clamp-primary {
  font-family: "Museo Sans Cyrl 900";
  font-size: 70px;
  color: #ffffff;
  width: 770px;
  position: absolute;
  top: 126px;
  left: 793px;
}
.text-clamp-secondary {
  font-family: "Museo Sans Cyrl 900";
  font-size: 40px;
  color: #ffffff;
  width: 770px;
  position: absolute;
  top: 314px;
  left: 795px;
}
.text-black {
  color: #2D333C;
}

.logo {
  left: 174px;
  top: 96px;
  z-index: 20;
  position: absolute;
  width: 209px;
  height: 65px;
  left: 175px;
  top: 96px;
}
.text-red {
  color: #DE3D46;
}
.finish-primary-text {
  z-index: 20;
  color: #ffffff;
  left: 303px;
  top: 421px;
  position: absolute;
  font-size: 80px;
  font-family: "Museo Sans Cyrl 900";
  width: 1195px;
  height: 256px;
}
.finish-secondary-text {
  z-index: 20;
  color: #ffffff;
  left: 306px;
  top: 714px;
  position: absolute;
  font-size: 40px;
  font-family: "Museo Sans Cyrl 900";
  width: 1057px;
  height: 145px;
}
.h-center {
  position: relative;
  top: 50%;
}